*{
    margin: 0;
}
body{
    background-color: #eeeeee;
    font-family: Helvetica, sans-serif,Arial;
}
#menu{
    background-color:cornflowerblue;
    position: absolute;
    display: flex;
}
#menu ul{
    width: 100%;
    list-style: none;
    justify-content: center;
    align-items: center;
}
#menu ul li{
    padding:.5vw 2vw;
    color: #fff;
    text-transform: capitalize;
    font-variant: stylelint-enable-line rule;
    cursor: pointer;
}
#menu ul li:hover{
    color: #dadada;
}
#umenu,#menu ul{
    display: flex;
    justify-content: space-between;
}
.menu{
    position: absolute;
    left: 100%;
    display: none;
    transform: translateX(-150%);
    width: 30px;
}
.menu svg{
    position: absolute;
    width: 100%;
}
.menu svg:last-child{
    display: none;
}
#wrapper{
    display: flex;
    justify-content: center;
    justify-items: center;
    padding: 5vw;
}
.images{
  display: block;
  width: 50vw;
  height: 60vh;
  overflow: hidden;
  position: relative;
}
.images .img{
    width: 50vw;
    height: 60vh;
    position: absolute;
    z-index: -1;
}
input[type=button]{
    border: none;
    width: 60px;
    outline: solid cornflowerblue;
    transition: all .5s ease-in-out;
    background-color: #eeeeee
}
input[type=button]:hover{
    background-color: cornflowerblue;
}
input[type=button]:first-child{
    border-radius:1vw 0 0 1vw;
}
input[type=button]:last-child{
    border-radius:0 1vw 1vw 0;
}
@media (width<350px){
    #umenu,#menu ul{
      flex-direction: column;
    }
    .menu{
        display: block;
    }
    #menu{
        transform: translateX(-100%);
    }
}
#menu ul ul:last-child{
   width: 50%;
   justify-content: space-evenly;
}
